.footerRoot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(2, 142, 253, 0.9892157546612395) 20%, rgba(0, 191, 179, 1) 85%);
    color: #fff !important;
    padding-block: 15px;
    border-radius: 0px !important;
}
.footerText{
    color: #ffffff ;
}
.footer-link{
    text-decoration: none !important;
    color: #fff !important;
    transition: all 0.5s;
}
.footer-link:hover{
    text-decoration: none !important;
    color: rgb(10, 10, 10) !important;
    cursor: pointer;
}
@media screen and (max-width: 599px) {
    .footerRoot{
        display: flex;
        flex-direction: column !important;
    }
    .footerRoot p{
        font-size: 12px !important;
    }
    
}