.headerRoot {
    background: linear-gradient(245deg, rgba(235, 247, 244, 0.99) 20%, #00bfb3 85%);
    /* background: linear-gradient(90deg, rgba(235, 247, 244, 0.99) 20%, #009f73 85%); */
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background: linear-gradient(0deg, rgba(2, 142, 253, 0.99) 20%, rgb(0, 191, 179) 85%);
}

.drawer-header {
    display: flex;
    align-items: center;
    padding: 0px 1px;
    justify-content: flex-start;
}

@media screen and (max-width: 512px) {
    .logohdr {
        margin-left: 2rem;
        width: 180px;
    }
}

.btn {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    border-radius: 3px;
    color: #fff !important;
    height: 25px;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

.navLinks {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.navLink {
    color: #009cc1 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    text-transform: Uppercase;
    margin-right: 1rem !important;
    text-decoration: none !important;
}

.navLink:hover {
    color: #fe6b8b !important;
    cursor: pointer !important;
}

.drawer1 .navLink {
    color: #ffffff !important;
}

.drawer1 .navLink:hover {
    color: #fe6b8b !important;
}

.hdr .navLink {
    display: block;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.btnopen.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    display: none;
}

@media screen and (max-width: 599px) {
    .hdr .navLink {
        display: none !important;
    }

    .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.btnopen.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
        display: inline-flex;
    }
}