.tkroot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem 5rem 0rem;
    min-height: 70vh;
    width: 90%;
    margin-bottom: 1rem;
}

.title {
    color: #fff;
}

.box1 {
    display: flex;
    align-items: center;

}

.input {
    height: 20px !important;
    max-height: 20px !important;
    width: 100% !important;
    margin-left: 5px;
    padding: 10px 16px !important;
    border: 1px solid #9c9c9c !important;
    border-radius: 2px;
}

.input:focus-visible {
    outline: 1px solid #0ca379 !important;
    border: 1px solid #0ca379 !important;
    border-radius: 2px;
}

.btn {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    border-radius: 3px;
    color: #fff !important;
    height: 25px;
    padding: 10px 3px;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    box-shadow: 0 8px 5px 2px rgba(255, 105, 135, .3);
}


.btnReset {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    border-radius: 3px;
    color: #fff !important;
    height: 36px;
    padding: 21px 31px !important;
    transform: 0.5s;
    margin-bottom: 2rem;
}

.btnReset:hover {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    box-shadow: 0 8px 5px 2px rgba(255, 105, 135, .3);
}

.cardBG {
    background-color: #7dfdfc !important;
}

.video {
    background-color: #ffffff;
    border-radius: 10px;
}

.textHeader {
    background: #2ac3ff;
    color: #8a000d;
    font-size: 30px !important;
    padding: 0px 11px;
    border-radius: 2px;
    line-height: 1.5 !important;
}


.textAreaTk {
    color: #fff;
    padding-top: 1rem;
    border: 1px solid #000;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #304c85;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.error {
    color: rgb(218, 5, 5);
}

.download_link {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
}

.download_link a {
    color: #fff;
    margin-top: 20px;
    padding: 8px 10px;
    background-color: #038EFD;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
}

.download_link a:hover {
    color: #ffffff;
    margin-top: 20px;
    padding: 8px 10px;
    background-color: #0362af;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
}

.text-center h5 {
    color: #FF8E53;
}

.text-center {
    text-align: center;
}
.center-circular {
    display: flex !important;
    justify-content: center !important;
}
.flex{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.title {
    color: #ff8e53 !important;
    font-weight: 600 !important;
    font-size: 20px !important;
}
@media screen and(max-width: 512px) {
    .title {
        font-size: 18px !important;
    }
}
.t1{
    margin-left: 3rem !important;
}

.avater {
    width: 60px;
    border-radius: 50%;
}
.audio{
    border-radius: 26px !important;
}