.tkroot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem 5rem 0rem;
    width: 90%;
    margin-bottom: 1rem;
}

.title {
    color: #fff;
}

.box1 {
    display: flex;
    align-items: center;
}

.css-78me8v-MuiFormControl-root {
    margin: 0px !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: rgb(19, 21, 21) !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 0.6em !important;
    max-height: 0.6em !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: rgba(255, 255, 255, 0) !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root .css-i4bv87-MuiSvgIcon-root {
    width: 0.8em !important;
    height: 0.8em !important;
    border-radius: 50%;
    background-color: #009d7247 !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #0ca379 !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(16px, 10px) scale(1) !important;
}

.clear {
    position: absolute !important;
    top: 0px !important;
    right: -10px !important;
    z-index: 99 !important;
}

@media screen and (max-width: 599px) {
    .para {
        font-size: 1em !important;
    }
}

.bcd {
    padding-left: 32px;
    padding-right: 32px !important;
}

.btn {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    border-radius: 3px;
    color: #fff !important;
    height: 25px;
    padding: 10px 3px;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    box-shadow: 0 8px 5px 2px rgba(255, 105, 135, .3);
}


.btnReset {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    border-radius: 3px;
    color: #fff !important;
    height: 36px;
    padding: 21px 31px !important;
    transform: 0.5s;
    margin-bottom: 2rem;
}

.btnReset:hover {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    box-shadow: 0 8px 5px 2px rgba(255, 105, 135, .3);
}

.cardBG,
.mui-card-c {
    background-color: #fff0 !important;
    border: 1px solid #000 !important;
}

.audio {
    border-radius: 26px !important;
    width: 50%;
}

.video {
    background-color: #ffffff;
    border-radius: 10px;
}

.textHeader {
    background: #2ac3ff;
    color: #8a000d;
    font-size: 30px !important;
    padding: 0px 11px;
    border-radius: 2px;
    line-height: 1.5 !important;
}


.textAreaTk {
    color: #fff;
    padding-top: 1rem;
    border-top: none;
    background: #d3d3d300 !important;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.error {
    color: rgb(218, 5, 5);
    margin-left: 8px !important;
}

.download_link {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
}

.download_link a {
    color: #fff;
    margin-top: 20px;
    padding: 8px 10px;
    background-color: #038EFD;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
}

.download_link a:hover {
    color: #ffffff;
    margin-top: 20px;
    padding: 8px 10px;
    background-color: #0362af;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
}

.text-center h5 {
    color: #FF8E53;
}

.text-center {
    text-align: center;
}

.center-circular {
    display: flex !important;
    justify-content: center !important;
}

.flex {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.title {
    color: #da5006 !important;
    font-weight: 600 !important;
    font-size: 20px !important;
}

@media screen and (max-width: 512px) {
    .title {
        font-size: 18px !important;
    }

    .audio {
        border-radius: 26px !important;
        width: 100%;
    }
}

.avater {
    width: 45px;
    border-radius: 5px;
}



.css-bhp9pd-MuiPaper-root-MuiCard-root,
.css-46bh2p-MuiCardContent-root {
    background: #d3d3d300 !important;
}

.text {
    color: #0a6ff3 !important;
}